.nowrap {
    white-space: nowrap;
}

.timer {
    padding-top: 50px;
    padding-left: 20px;
    background: #edeef0;
}

.check-input {
    padding-top: 30px;
    margin: 10px 0px 0px 0px;
}

.block {
    margin: 10px 0px 0px 10px;
}

.invisible_numbers {

    color: #f8f9fa;
}

.form-check-custom {
	margin-bottom: 20px;
}

.form-radio-custom {
	margin-bottom: 10px;
}